.header-container {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
}

.logo {
    margin-right: 10px;
}

.loginnavbar-button {
    padding: 10px 20px; /* Padding */
    border-radius: 8px 0 0 0; /* Border radius */
    border: 1px solid transparent; /* Border */
    font-family: 'Montserrat', sans-serif; /* Font family */
    font-size: 16px; /* Font size */
    font-weight: 500; /* Font weight */
    line-height: 19.5px; /* Line height */
    text-align: center; /* Text align */
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Transition for hover effects */
}

.login-button:hover {
    background-color: white;
    border: 1px solid #5B4947;
}

.registernavbar-button {
    width: 140px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #EA9E1F;
    border: none;
    font-family: 'Montserrat, sans-serif';
}

.register-button:hover {
    background-color: #EA9E1F;
}
